<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>Thành công</title>
</head>
<body>
  <h2><%= message %></h2>
  <pre><%= output %></pre>
  <a href="/">← Quay lại trang chủ</a>
</body>
</html>
