opencv-contrib-python
insightface
onnxruntime
torch
facenet-pytorch
numpy
scikit-learn
matplotlib
firebase-admin
python-telegram-bot==13.15
python-dotenv
opencv-python==4.5.5.64
PyQt5==5.15.7
python-dotenv==0.19.2
requests==2.26.0